.beer-section {
  grid-area: main;
  & > div {
    margin: 20px 0;
    @include desktop {
      margin: 0;
    }
  }
  @include desktop {
    margin: 20px 0 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(200px, max-content) 250px;
  }

  .likeButton {
    font-size: 6rem;
    padding-right: 10px;
  }

  .loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.card-content {
  .fas .fa-arrow-circle-right {
    padding-top: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: $primary-color-dark; 
  }

  .rating-container {
    i {
      position: relative;
      top: 15px;
    }
  }
  .icon {
    a:link, a:hover, a:visited, a:active {
      color: $primary-color-dark;
    }
  }
  
  .imgBeer {
    width: 50px;
  }
}


}
