<section id="detailSection" class="detail-section">
  <div><h2>Beer Info</h2></div>
  <div id="detail" class="detail-content"></div>
  <div class="beerInfo">
    <div id="beerData">
    </div>
  </div>
 <form id="beer-form" class="beer-form" novalidate>
    <div class="beer-input">
      <br/><label for="beer">Add comments</label>
      <input id="beer" placeholder="Add your comment" class="input primary" type="text">
    </div>
    <button type="submit" class="button primary">Post</button>
  </form>
</section>