<section id="detailSection" class="detail-section">
  <div class="title"><h2>Beer Info</h2></div>
  <div id="detail" class="detail-content"></div>
  <div class="beerInfo">
    <div id="beerData">
    </div>
  </div>
  <div id="likeForm">
      <h4>Likes (click hand to like):  </h4>
      <span id="likesCount">0</span> <i class="far fa-2x fa-thumbs-up"></i>
  </div> 
  <div id="commentsBox">
    <h4>Comments: </h4>
    <span id="commentsList"></span>
</div>
 <form id="beer-form" class="beer-form" novalidate>
    <div class="beer-input">
      <br/><label for="beer"><h4>Add comment</h4></label>
      <input id="beer" placeholder="Add your comment" class="input primary" type="text">
    </div>
    <button type="submit" class="button primary">Post</button>
  </form>
</section>