<navbar id="navbar" class="app-navbar no-search">
  <div class="navbar-logo">
    <img class="logo" src="../images/logo.png">
    <a href="/">BEERS</a>
  </div>
  <div class="filter-container">
    <form id="beer-form" class="filter-input">
        <input placeholder="Write here to search beer..." class="input search" type="text">
        <button type="submit" class="button search">SEARCH</button>
    </form>
    <form id="search-year" class="filter-year">
      <input placeholder="Type year..." class="input search yearInput" type="text">
      <button id="yearButton" type="button" class="button search">SELECT</button>
    </form>
  </div>
  <div class="navbar-icon">
    <i id="navbar-search" class="fas fa-search"></i>
    <i id="navbar-close" class="fas fa-times"></i>
  </div>
</navbar>